.auth-container {
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .auth-container h2 {
    margin-bottom: 15px;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .auth-container button {
    padding: 10px;
    background: rgb(156, 23, 209);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-container button:hover {
    background: #e84148;
  }
  
  .auth-container p {
    margin-top: 10px;
  }
  
  .auth-container p a {
    color: rgb(156, 23, 209)f4757;
    text-decoration: none;
  }
  
  .auth-container p a:hover {
    text-decoration: underline;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  